.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      %h2 ログインしよう
      .contents-row-login
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .label-box
              = f.label :email
              %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            .label-box
              = f.label :password
              %br/
            = f.password_field :password, autocomplete: "current-password"
          - if devise_mapping.rememberable?
            .field
              .label-box
                = f.label :remember_me
              = f.check_box :remember_me
          .actions
            = f.submit "ログイン", class: "login-btn"
      = render "devise/shared/links"
