.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents-box-show
        .contents-post-box-show
          .contents-post-show{:style => "background-image: url(#{@post.image});"}
            .more
              %span.arrow= image_tag 'arrow_top2.png'
              %ul.more_list
                - if user_signed_in? && current_user.id == @post.user_id
                  %li
                    = link_to '編集', "/posts/#{@post.id}/edit", method: :get
                  %li.delete
                    = link_to '削除', "/posts/#{@post.id}", method: :delete
            = simple_format(@post.text)
            %span.name
              %a{:href => "/users/#{@post.user_id}"}
                %span 投稿者
                = @post.user.nickname
            -# %h4
            -#   いいね件数: #{@post.likes.count}

              -# %div{:id => "likes_buttons_#{post.id}"}
              -#   = render partial: 'likes/like', locals: { post: post, likes: @likes}

        .likes-btn{:id => "likes_buttons_#{@post.id}"}
          = render partial: 'likes/like', locals: { post: @post, likes: @likes}

          
        .container
          - if current_user
            = form_with(model: [@post, @comment], local: true) do |form|
              = form.text_area :text, placeholder: "コメントする", rows: "2"
              = form.submit "送信", class: "show-btn"
          - else
            %strong
              %p ※※※　"コメントの投稿"と"いいね"を付けるには新規登録/ログインが必要です　※※※
          .comments
            %h4 ＜コメント一覧＞
            - if @comments
              - @comments.each do |comment|
                %p
                  %strong
                    = link_to comment.user.nickname, "/users/#{comment.user_id}"
                  = comment.text
