<!DOCTYPE html>
<html>
  <head>
    <title>Hajime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="header__bar">
        <h1 class="header-title"><a href="/">Hajime</a></h1>
        <p class="sub-title">~SNS体験アプリ~</p>
        <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "　投稿を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
        <% if user_signed_in? %>
          <div class="user_nav_grid">
            <span><%= current_user.nickname%>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <%= link_to "投稿する", "/posts/new", class: "btn btn-post" %>
          </div> 
        <% else %>
          <div class="header-right-box">
            <%= link_to "ログイン", new_user_session_path, class: "btn-square-shadow" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn-square-shadow" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    
  </body> 
</html>
